#Ignorar variables de entorno reales.
.env
*.env
!*.env.example

#Archivos subidos por el usuario.
secure-app/backend/uploads/

#Docker
postgres_data
#Override local del compose.
docker-compose.override.yml

#Pyhton
__pycache__/
venv/
env/
.venv/
.pytest_cache/
.mypy_cache/
*.pyc
*.pyo
*.pyd
.env

#Vagrant y virtualbox.
.vagrant/
*.vbox
*.vbox-prev
*.vdi
*.vmdk
*.vhd
*.vhdx
*.log
*~
*.swp

#frontend
node_modules/
dist/
build/

# OPNsense lab
*.box
opnsense-console.log
192.168.56.*
.vagrant/
opnsense-25.1-lab.box