#Credenciales e identificación de la base de datos para admin de la app.
POSTGRES_USER=user
POSTGRES_PASSWORD=pass_segura
POSTGRES_DB=database_name

#Credenciales para el usuario de la app (OWASP mínimo privilegio), que es el que usará el backend.
APP_USER=app_user
APP_USER_PASSWORD=user_pass_segura

#URL  de la base de datos que usará el backend.
DATABASE_URL=postgresql://APP_USER:APP_USER_PASSWORD@db:5432/POSTGRES_DB
